### 데이터 전처리 EX-5

문제 5 : 데이터 스케일링

데이터 스케일링은 데이터의 범위를 조정하는 작업을 의미합니다.
데이터 스케일링을 통해 데이터의 분포를 조정하고, 모델의 성능을 향상시킬 수 있습니다.

대표적인 데이터 스케일링 방법으로는 StandardScaler, MinMaxScaler 등이 있습니다.
이번 문제에서는 StandardScaler를 사용하여 데이터를 표준화 하는 방법을 실습합니다.

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
# 데이터 불러오기
df = pd.read_csv('winequality-red.csv')

In [5]:
# 데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [6]:
# 데이터 구조 확인
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
# 표준화
scaler = StandardScaler()
for col in ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides'] :
    df['Scaled ' + col] = scaler.fit_transform(df[[col]])

In [10]:
# 결과 출력
df.filter(like='Scaled')

,Scaled fixed acidity,Scaled volatile acidity,Scaled citric acid,Scaled residual sugar,Scaled chlorides
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707
1,-0.298547,1.967442,-1.391472,0.043416,0.223875
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707
...,...,...,...,...,...
1594,-1.217796,0.403229,-0.980669,-0.382271,0.053845
1595,-1.390155,0.123905,-0.877968,-0.240375,-0.541259
1596,-1.160343,-0.099554,-0.723916,-0.169427,-0.243707
1597,-1.390155,0.654620,-0.775267,-0.382271,-0.264960
1598,-1.332702,-1.216849,1.021999,0.752894,-0.434990